@{
    ViewBag.Title = LocalRes.Resource.Map_Sys_Roles;
}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Content("~/")">@LocalRes.Resource.Map_Home</a>
            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li>
            @LocalRes.Resource.Map_Sys
            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li>
            @LocalRes.Resource.Map_Sys_Roles
            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
    </ul>
</div>

<form action="@Url.Action()" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="page-content">
        <div class="page-header"><h1>@LocalRes.Resource.Map_Sys_Roles</h1></div>
        <div class="profile-contact-links">
            <div class="row form-group">
                <div class="col-sm-2">
                    <label class="control-label">
                        @LocalRes.Resource.Comm_Name:
                    </label>
                    <input class="form-control input-sm" id="role_name" maxlength="20">
                </div>
                <div class="col-sm-offset-4 col-sm-6 align-right pull-right">
                    <br />
                    <button class="btn btn-sm btn-primary" id="create_role"><i class="fa fa-plus"></i>@LocalRes.Resource.Comm_Create</button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-lg-2 col-md-2">
                <select size="21" id="roles_list" style="width:100%;min-width:50px;"></select>
                <div style="text-align:center">
                    <button type="button" id="delete_role" class="btn btn-danger btn-sm">
                        @(LocalRes.Resource.Comm_Del)
                    </button>
                </div>
            </div>
            <div class="col-xs-10 col-lg-10 col-md-10" id="detailGrid" style="display: none; vertical-align: top;">
                <table id="detailTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@LocalRes.Resource.Comm_Function</th>
                            <th>@LocalRes.Resource.Comm_Read</th>
                            <th>@LocalRes.Resource.Comm_Create</th>
                            <th>@LocalRes.Resource.Comm_Edit</th>
                            <th>@LocalRes.Resource.Comm_Del</th>
                            <th>@LocalRes.Resource.Comm_Print</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.col -->
</form>

<script type="text/javascript">
    $(document).ready(function () {
        function loadRoles() {
            $("#roles_list").empty();
            doAjax("@Url.Action("GetList")", {},
                 function (result) {
                     $.each(result, function (i, item) {
                         $("#roles_list").append($('<option/>', {
                             value: item.Value,
                             text: item.Text
                         }));
                     });
                 }
            );
        }

        $("#create_role").click(function () {
            var role_name = $("#role_name").val();
            if (role_name == "")
                $("#role_name").focus();
            else {
                doAjax("@Url.Action("Create")",
                    { role_name: role_name },
                        function (result) {
                            if (result == "Y") {
                                loadRoles();
                            }
                        }
                    );
            }
        });


        $("#delete_role").click(function () {
            var role_id = $("#roles_list").val();
            if (role_id != "" && role_id!=null) {
                bootbox.confirm("@LocalRes.Resource.MSG_Confirm_Delete", function (result) {
                    if (result) {
                        doAjax("@Url.Action("Delete")",
                            { role_id: $("#roles_list").val() },
                                function (result) {
                                    if (result == "Y") {
                                        loadRoles();
                                    }
                                }
                          );
                    }
                })
            }
        });

        $("#roles_list").change(function () {
            $("#detailGrid").hide();

            doAjax("@Url.Action("genTable")", { id: $(this).val() },
                 function (result) {
                     $("#detailGrid").show();
                     $("#detailTable > tbody").html(result);
                 }
            );
        });
        loadRoles();
    });


    //用ajax更新Detail資料
    function doUpdate(key) {
        var roles_val = $("#roles_list").val();
        if (roles_val != "") {
            doAjax("@Url.Action("setTable")", { id: roles_val, key: key, isSet: $("#" + key).prop('checked') },
        function (result) { }
        );
        }
    }
</script>
