@using X.PagedList;
@using X.PagedList.Mvc;
@using Common;
@model MobileHis.Models.ViewModel.AccountIndexView
@{
    ViewBag.Title = LocalRes.Resource.Map_Sys_Users;
    Layout = "~/Areas/Settings/Views/Shared/_Layout.cshtml";
    bool isOverLimit = false;
    int AllRecord = 0, usedRecord = 0;
    string per = "";
    //if (Config.AppSetting("isSingleton") != "Y")
    //{
    //    using (MobileHis.DAL.SysMhisDal sysMhisObj = new MobileHis.DAL.SysMhisDal())
    //    {
    //        var domain = sysMhisObj.getDomain();
    //        if (domain != null)
    //        {
    //            AllRecord = domain.AccountLimit.HasValue ? domain.AccountLimit.Value : 0;
    //            if (AllRecord != 0)  //no limit
    //            {
    //                usedRecord = Model != null ? Model.TotalItemCount : 0;
    //                if (usedRecord >= AllRecord) { isOverLimit = true; }
    //                per = AllRecord != 0 ? String.Format("{0:0%}", usedRecord / (float)AllRecord) : "0";
    //            }
    //        }
    //    }
    //}

}

<style>
    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #0480be;
        color: #ffffff;
    }

    .modal-dialog {
        width: 800px;
    }
</style>

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Content("~/")">@LocalRes.Resource.Map_Home</a>
            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li>
            @LocalRes.Resource.Map_Sys
            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li>
            @LocalRes.Resource.Map_Sys_Users
            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
    </ul>
    @*@{Html.RenderPartial("_NavbarSearch");}*@
</div>

<form action="@Url.Action()" method="get" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="page-content">
        <div class="page-header"><h1>@LocalRes.Resource.Map_Sys_Users</h1></div>
        <div class="profile-contact-links">
            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="registration_num" class="control-label">@LocalRes.Resource.Comm_Keyword:</label>
                    @Html.TextBox("keyword", (string)ViewBag.keyword, new { @class = "form-control input-sm", size = "20" })
                </div>
                <div class="col-sm-offset-6 col-sm-4 align-right pull-right">
                    <br />
                    <button type="submit" class="btn btn-sm btn-success">
                        <i class="fa fa-search"></i>
                        @LocalRes.Resource.Comm_Search
                    </button>
                    @*@if (_Add && !isOverLimit)
                    {*@
                        <a href="@Url.Action("Create")" class="btn btn-primary btn-sm ">
                            <i class="fa fa-plus"></i>@LocalRes.Resource.Comm_Create
                        </a>
                    @*}*@
                </div>
            </div><!--col-->
        </div><!--row-->
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-bordered table-striped table-hover alert alert-info custab">
                        <thead>
                            <tr>
                                <th class="center">@LocalRes.Resource.Account_Name</th>
                                <th class="center">@LocalRes.Resource.Account_Email</th>
                                <th class="center">@LocalRes.Resource.Account_Tel</th>
                                <th class="center">@LocalRes.Resource.Comm_Function</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Accounts.OrEmptyIfNull())
                            {
                                <tr>
                                    <td class="center">@Html.Encode(item.Name)</td>
                                    <td class="center">@Html.Encode(item.Email)</td>
                                    <td class="center">@Html.Encode(item.Tel)</td>
                                    <td class="left">
                                        @*@if (_Update)
                                        {*@
                                            <a href="#" class='btn btn-sm btn-info' onclick="location.href='@(Url.Action("Edit")+"/"+item.ID.ToString())'"><i class="fa fa-edit fa-lg"></i>@LocalRes.Resource.Comm_Edit</a>
                                        @*}*@
                                        @*@if (_Delete)
                                        {*@
                                            <a href="#" class="btn btn-sm btn-danger" onclick="doDel('@(item.ID.ToString())')"><i class="fa fa-trash-o fa-lg"></i>@LocalRes.Resource.Comm_Del</a>
                                        @*}*@
                                        <a href="#" class="btn btn-sm btn-primary btnResetPw" data-accid="@item.ID">Reset Password</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*@{
                            if (Config.AppSetting("isSingleton") != "Y")
                            {
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="progress" data-percent="Used:&nbsp;&nbsp;@usedRecord,&nbsp;&nbsp;Total:&nbsp;&nbsp;@AllRecord">
                                            <div class="progress-bar" style="width:@per;"></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }*@
                    @if (Model != null)
                    {
                        <div class="pager">
                            @* @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)*@
                            @Html.PagedListPager(Model.Accounts, page => Url.Action("Index", new { keyword = ViewBag.keyword, page = page }))
                        </div>
                    }
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.col -->
    </div>
</form>


    <script type="text/javascript">
        function doDel(key) {
            bootbox.confirm("@LocalRes.Resource.MSG_Confirm_Delete", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST", cache: false,
                        datatype: "json",
                        url: '@Url.Action("Delete")',
                        data: AddAntiForgeryToken({ ID: key })
                    }).done(function (msg) {
                        if (msg == "Y") {
                            bootbox.alert("@LocalRes.Resource.MSG_Success", function () { location.href = '@Url.Action("Index", new { keyword = ViewBag.keyword })'; });
                        }
                        else
                            bootbox.alert("Could't delete this Account,because OPD data already existed", function () { });
                    }).fail(function (jqXHR, textStatus) {
                        alert("@LocalRes.Resource.MSG_Error");
                    });
                }
            });
        }
        $(function () {
            $(".btnResetPw").click(function () {
                var c = confirm('Confirm to reset password? Password will change to "12345".')
                if (c) {
                    var url = "@Url.Action("ResetPassword")";
                    var data = {
                        id: $(this).data('accid')
                    };
                    doAjax(url, data, function (result) {
                        if (result) {
                            bootbox.alert("Reset password success");
                        }
                        else {
                            bootbox.alert("Fail to reset password");
                        }
                    });
                }
            });
        })

    </script>

