@model MobileHis.Models.ViewModel.SettingView
@using System.Web.Mvc
@using MobileHis_2019.Areas.Settings.Views
@{
    ViewBag.Title = "View";
}
@helper CustomTextBoxFor(
    System.Linq.Expressions.Expression<Func<MobileHis.Models.ViewModel.SettingView, object>> expression)
{
    @Html.LabelFor(expression)
    @Html.TextBoxFor(expression, new { @class = "form-control" })
    @Html.ValidationMessageFor(expression, "", new { @class = "error" })
}
@helper FileTextBoxFor(
    System.Linq.Expressions.Expression<Func<MobileHis.Models.ViewModel.SettingView, object>> expression)
{
    @Html.LabelFor(expression)
    @Html.TextBoxFor(expression, new { @class = "form-control", @type="file" })
    @Html.ValidationMessageFor(expression, "", new { @class = "error" })
}
@helper ShiftTextBoxFor(
    System.Linq.Expressions.Expression<Func<MobileHis.Models.ViewModel.SettingView, object>> label,
    System.Linq.Expressions.Expression<Func<MobileHis.Models.ViewModel.SettingView, object>> start,
    System.Linq.Expressions.Expression<Func<MobileHis.Models.ViewModel.SettingView, object>> end)
{
    @Html.LabelFor(label)
    @Html.TextBoxFor(start, new { @class = "form-control" })
    @Html.ValidationMessageFor(start, "", new { @class = "error" })
    @Html.TextBoxFor(end, new { @class = "form-control" })
    @Html.ValidationMessageFor(end, "", new { @class = "error" })
}
<h2>View</h2>

<div class="row">
    <div class="col-md-6">
        <h3>System</h3>
        @using (Html.BeginForm("DefaultSetting", "Setting", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div >
            @Html.LabelFor(Model => Model.SystemSettingView.CheckFingerPrint)
            @Html.CheckBoxFor(Model => Model.SystemSettingView.CheckFingerPrint)
        </div>
        <div>
            @Html.LabelFor(Model => Model.SystemSettingView.CheckPacs)
            @Html.CheckBoxFor(Model => Model.SystemSettingView.CheckPacs)
        </div>
            @CustomTextBoxFor(Model => Model.SystemSettingView.ConsultationFee)
            @CustomTextBoxFor(Model => Model.SystemSettingView.ApiKey)
            @FileTextBoxFor(Model => Model.SystemSettingView.BK_img_file)
            @FileTextBoxFor(Model => Model.SystemSettingView.PartnerFile)
            @FileTextBoxFor(Model => Model.SystemSettingView.Official_Logo_Img_file)
            @FileTextBoxFor(Model => Model.SystemSettingView.Official_Banner_Img_file)
            @ShiftTextBoxFor(Model => Model.SystemSettingView.Opd_Shift_Morning,
                            Model => Model.SystemSettingView.Opd_Shift_Morning_Start,
                            Model => Model.SystemSettingView.Opd_Shift_Morning_End)
            @ShiftTextBoxFor(Model => Model.SystemSettingView.Opd_Shift_Afternoon,
                            Model => Model.SystemSettingView.Opd_Shift_Afternoon_Start,
                            Model => Model.SystemSettingView.Opd_Shift_Afternoon_End)
            @ShiftTextBoxFor(Model => Model.SystemSettingView.Opd_Shift_Night,
                            Model => Model.SystemSettingView.Opd_Shift_Night_Start,
                            Model => Model.SystemSettingView.Opd_Shift_Night_End)
            <button class="btn btn-success">submit</button>
        }
    </div>
    <div class="col-md-6">
        <h3>Info</h3>
        @using (Html.BeginForm("InfoSetting", "Setting", FormMethod.Post))
        {
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_About)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_Address)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_Contact_Name)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_Contact_Tel)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_Environment)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_lat)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_lng)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_Name)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_Slogan)
            @CustomTextBoxFor(Model => Model.InfoSettingView.Hospital_Tel)
            @FileTextBoxFor(Model => Model.InfoSettingView.EnvironmentFile)
            <button class="btn btn-success">submit</button>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Mail</h3>
        @using (Html.BeginForm("MailSetting", "Setting", FormMethod.Post))
        {
            @CustomTextBoxFor(Model => Model.MailSettingView.Mail_ContactBccMail)
            @CustomTextBoxFor(Model => Model.MailSettingView.Mail_ContactMail)
            @CustomTextBoxFor(Model => Model.MailSettingView.Mail_Port)
            @CustomTextBoxFor(Model => Model.MailSettingView.Mail_Url)
            @CustomTextBoxFor(Model => Model.MailSettingView.Mail_UserName)
            @CustomTextBoxFor(Model => Model.MailSettingView.Mail_UserPassword)
            <button class="btn btn-success">submit</button>
        }
    </div>
    <div class="col-md-6">
        <h3>Other</h3>
        @using (Html.BeginForm("OtherSetting", "Setting", FormMethod.Post))
        {
            @CustomTextBoxFor(Model => Model.OthersSettingView.Lab_IP)
            @CustomTextBoxFor(Model => Model.OthersSettingView.Owl_3DesIv)
            @CustomTextBoxFor(Model => Model.OthersSettingView.Owl_3DesKey)
            @CustomTextBoxFor(Model => Model.OthersSettingView.Owl_APIKEY)
            @CustomTextBoxFor(Model => Model.OthersSettingView.Owl_IP)
            @CustomTextBoxFor(Model => Model.OthersSettingView.SmartHealth_3DesIv)
            @CustomTextBoxFor(Model => Model.OthersSettingView.SmartHealth_3DesKey)
            @CustomTextBoxFor(Model => Model.OthersSettingView.SmartHealth_APIKEY)
            @CustomTextBoxFor(Model => Model.OthersSettingView.SmartHealth_IP)
            @CustomTextBoxFor(Model => Model.OthersSettingView.SmartHealth_Register_IP)
        <div>
            @Html.LabelFor(Model => Model.OthersSettingView.CheckSymptomShot)
            @Html.CheckBoxFor(Model => Model.OthersSettingView.CheckSymptomShot)
        </div>
            @CustomTextBoxFor(Model => Model.OthersSettingView.SymptomShotIP)
            @CustomTextBoxFor(Model => Model.OthersSettingView.SymptomShot_3DesIv)
            @CustomTextBoxFor(Model => Model.OthersSettingView.SymptomShot_3DesKey)
            @CustomTextBoxFor(Model => Model.OthersSettingView.UPIS_APIKEY)
            @CustomTextBoxFor(Model => Model.OthersSettingView.UPIS_IP)
            <button class="btn btn-success">submit</button>
        }
    </div>
</div>
